/*Base de los estilos*/

body{
    margin:0;
    padding:0;
    font-size: 16px;
    line-height: 1.4em;
    color:#222;
    background:#efefef;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}


/*Contenedor de unidades*/

.Container_Unidad{
    background-color: cornflowerblue;
    width: 100%;
    height: 60px;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.text-unidad{
    text-align: center;
    font-weight: 600;
    font-size: 2.0em;
}

/*cajas*/

.caja1{
    background-color: #fff;
    width: 44%;
    height: 100%;
    float: left;
    margin-right: 2%;
    padding: 2% 2% 2% 2%;
}

.caja2{
    background-color:#fff;
    width: 44%;
    height: 100%;
    float: left;
    margin-left: 2%;
    padding: 2% 2% 2% 2%;
}


/*Estilo de la letra de las cajas*/
.semanas-title{
    font-weight: 500;
    font-size: 1.5em;
    margin-top: 5px;
    text-align: center;
}

#semanas_date{
    text-align: center;
}


/*Grilla*/
.section{
    padding: 0;
    margin: 0;
}

.col{
    display: block;
    float: left;
    margin: 1% 0 1% 1.6%;
}

.col:first-child{
   margin-left: 0;
}

.span_3_of_3{
    width: 100%;
}

.span_2_of_3{
    width: 100%;
}

/*Imagen de inicio*/

.img_inicio{
    width: 100%;
    height: 10%;
    padding: 0%;
    margin-top: 108px;
}

/*Encabezado y Navegacion*/

header{
    max-width: 100%;
    background: #0c94e8;
    padding: 1px;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    *transition: all 500ms ease; /*transicion al poner el mouse encima*/
    transform: scale(1.1);
    background: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


nav{
    width: 100%;
    margin-bottom: 1em;
    background: #023877;
    text-transform: uppercase;
    position: fixed;
}


ul{
    padding: 0;
    margin: 0;
    overflow: hidden;
    color: white;
    font-weight: 300;
    text-align: center;
    transition: max-height 0.5s;
}

/* Panel de principal */ 
.nav-item{
    display: inline-block;
    padding: 15px;
    font-size: 1em;
    transition: all 500ms ease;
}

.nav-item:hover{
    cursor: pointer;
    transform: scale(1.1);
    background: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/* incono de tres linea reponsive */

.menu-bar{
    width: 100%;
    box-sizing: border-box;
    background:#2d2d2d;
    text-align: left;
    padding: 15px 20px;
    color: white;
    font-size: 1.4em;
    cursor: pointer;
    display: none;
}
.barra-icon{
    float: right;
    clear: both;
    margin-top: -5px;
    font-size: 1.4em;
}


/* Sobre Mi*/

#yo{
    text-align: center;
}

#yo_subti{
    text-align:left;
    padding-left: 32%;
    font-size: 1.6em;
}

#yo_content{
    text-align:justify;
    padding-left: 32%;
}

#img_yo{
    float: left;
    width: 30%;
}

#yo_post{
    padding-bottom: 7%;
}


/*Bloque de titulo*/

.titulo_conte{
    background:rgb(20, 209, 200);
    margin: 0 auto 2em auto;
    padding: 40px 50px; /*relleno*/
    scroll-margin-top: 14ex;  /*para separa el header del contenido donde va*/
    text-align: center;
    *text-transform: uppercase; /*letra mayuscula*/
    transition: all 500ms ease; 
    *font-size: 1em;
}

.text-title{
    font-weight: 600; /*grosos de la letra*/
    font-size: 2.5em; /*tamaño de la letra*/
    margin-top: 10px; /*margen de arriba , separa el titulo*/
}

.titulo_conte:hover{
    transform: scale(1.1);
    background: #0074C7;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*Blog Publicaciones*/

.container{
    max-width: 2000px;
    margin: 0%;
    padding: 50px;
}
.blog-post{
    background: white;
    margin: 0 auto 2em auto;
    padding: 35px 30px; /*relleno*/
    scroll-margin-top: 14ex;  /*para separa el header del contenido donde va*/
}


.blog-content{
    font-size: 1em;
    border-left: 5px solid #0c94e8;
    padding-left: 15px;
}

.blog-title{
    font-weight: 500;
    font-size: 2.5em;
    margin-top: 5px;
}
.date{
    font-size: 1em;
    font-weight: 400;
    color: #9c9c9c;
    margin-top: -10px;
    text-decoration: underline;
    text-decoration-color: currentColor;
}

.post-link{
    color:  #0841a8;
    font-style: italic;
    transition: all 0.4s;
}

.post-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.img_blog{
    max-width: 49%;
    *max-width: 1000px; /*anchura maxima*/
    *max-height: 500px; /*altura maxima*/
    height: auto;
    border-radius: 10px; /*esquinas redondeadas*/
    transition: all 300ms ease; 
}

.img_blog:hover{
    transform: scale(1.1);
}

.conteimg{
    text-align: center; /*alineacion del texto*/
}


/*footer Pie de pagina*/

footer{
    width: 100%;
    float: right;
    background: #141414;
    color:  white;
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
}

footer h1{
    margin: 20px auto;
}

footer p{
    margin: auto;
}

/*Media Queries para hacer responsive el sitio */
/* @900px*/

@media screen and (max-width: 56.25em){
    .col{
        margin: 1% 0 1% 0%;
    }

    .span_3_of_3,
    .span_2_of_3{
        width: 100%;
    }
    
    .caja1{
        width: 100%;
        height: 100%;
        margin: 2% 2% 3% 0%;  /*arriba , derecho ,abajo , izquierdo*/
    }
    .caja2{
        width: 100%;
        height: 100%;
        margin: 2% 2% 3% 0%; /*arriba , derecho ,abajo , izquierdo*/
    }

    .img_blog{
       *max-width: 100%;
        max-width: 500px;
    }

}

/* @685px */

@media screen and (max-width: 42.813em){

    .blog-title{
        font-size: 1.95em;
    }
    .date{
        font-size: .9em;
    }

    .img_blog{
        *max-width: 100%;
         max-width: 300px;
     }
}

/*@480px*/

@media screen and (max-width: 30em){
    nav ul{
        max-height: 0;
    }
    .reveal{
        max-height: 19em;
    }
    nav ul .nav-item{
        box-sizing: border-box;
        width: 100%;
        padding: 15px;
    }
    .menu-bar{
        display: block;
    }

    .img_blog{
        *max-width: 100%;
         max-width: 200px;
     }
}

/* @380 */

@media screen and (max-width: 23.75em){
    .blog-content,
    .post-link{
        font-size: .9em;
    }

    .button{
        padding: 10px 15px;
    }
    .nav-item{
        font-size: 1.2em;
    }

}

html{
    scroll-behavior: smooth; /*Da el efecto al desplazar la pagina*/
}
